.register-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:
    linear-gradient(135deg,#0f172a,#2563eb);

    position:relative;

    overflow:hidden;

}


.register-page::before{

    content:"";

    position:absolute;

    width:350px;

    height:350px;

    background:#60a5fa;

    opacity:.15;

    border-radius:50%;

    top:-100px;

    left:-100px;

}



.register-page::after{

    content:"";

    position:absolute;

    width:400px;

    height:400px;

    background:#4f46e5;

    opacity:.15;

    border-radius:50%;

    bottom:-150px;

    right:-120px;

}



.register-card{

    width:400px;

    background:rgba(15,23,42,0.95);

    padding:40px;

    border-radius:22px;

    box-shadow:0 20px 45px rgba(0,0,0,.35);

    z-index:1;

    color:rgb(31, 67, 197);

}


.register-card h2{

    text-align:center;

    color:#0f172a;

    font-size:30px;

    font-weight:700;

    margin-bottom:8px;

}



.register-card p{

    text-align:center;

    color:#f0eef1;

    font-size:30px;

    font-weight:700;

    letter-spacing:.3px;

    margin-bottom:25px;

}

.register-card input{

    width:100%;

    padding:14px;

    margin-bottom:16px;

    border-radius:12px;

    border:1px solid rgba(96,165,250,0.5);

    background:rgba(37,99,235,0.15);

    color:white;

    outline:none;

    font-size:15px;

}
.register-card input::placeholder{

    color:#cbd5e1;

}

.register-card input:focus{

    border-color:#60a5fa;

    background:rgba(37,99,235,0.25);

}



.register-card button{

    width:100%;

    padding:14px;

    background:linear-gradient(135deg,#2563eb,#4f46e5);

    color:white;

    border:none;

    border-radius:12px;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

}



.register-card button:hover{

    transform:translateY(-2px);

}



.login-link{

    text-align:center;

    margin-top:20px;

    color:#64748b;

}



.login-link span{

    color:#2563eb;

    cursor:pointer;

    font-weight:600;

    margin-left:5px;

}