.analytics-charts{
    display:flex;
    flex-direction:column;
    gap:25px;
    margin-top:30px;
}

.chart-card{
    background: linear-gradient(135deg,#c7cde5,#3f56a5);
    border-radius:20px;
    padding:25px;
    color:#fff;
    box-shadow:0 10px 25px rgba(37,99,235,.30);
    transition:0.3s ease;
}

.chart-card:hover{
    transform:translateY(-6px);
    box-shadow:0 18px 35px rgba(37,99,235,.40);
}

.chart-card.large{
    width:100%;
}

.chart-head{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.chart-head h3{
    font-size:26px;
    font-weight:700;
    color:#180202;
}

.chart-head span{
    font-size:30px;
    font-weight:700;
    color:#fff;
}

.chart-card h3{
    color:#fff;
    font-size:22px;
    margin-bottom:18px;
    font-weight:600;
}

.bottom-charts{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
}

/* -------------------- RECHARTS -------------------- */

.recharts-cartesian-grid line{
    stroke:rgba(255,255,255,0.18);
}

.recharts-cartesian-axis-line{
    stroke:rgba(255,255,255,.3);
}

.recharts-cartesian-axis-tick-line{
    stroke:#ffffff;
}

.recharts-cartesian-axis-tick-value{
    fill:#ffffff !important;
    font-size:13px;
    font-weight:500;
}

.recharts-legend-item-text{
    color:#ffffff !important;
}

.recharts-default-tooltip{
    background:#1e293b !important;
    border:none !important;
    border-radius:12px !important;
    color:#fff !important;
    box-shadow:0 8px 20px rgba(0,0,0,.25);
}

.recharts-tooltip-label{
    color:#fff !important;
}

.recharts-tooltip-item{
    color:#fff !important;
}

.recharts-tooltip-wrapper{
    outline:none;
}

.recharts-legend-wrapper{
    padding-top:15px;
}

/* -------------------- RESPONSIVE -------------------- */

@media(max-width:992px){

.bottom-charts{
    grid-template-columns:1fr;
}

}

@media(max-width:768px){

.chart-card{
    padding:18px;
}

.chart-head{
    flex-direction:column;
    align-items:flex-start;
    gap:10px;
}

.chart-head h3{
    font-size:22px;
}

.chart-head span{
    font-size:24px;
}

.chart-card h3{
    font-size:20px;
}

}